

<!-- <md-toolbar>My App</md-toolbar> -->



 <md-card> 
    <md-input-container>
    <input class="search" mdInput [(ngModel)]="searchQuery"
    name="search" placeholder="Şəkil Axtar">
  </md-input-container>
  <br>
  <button (click)="searchImages(searchQuery)"
    md-raised-button class="searchButton" type="button">Axtar</button>
 </md-card>

<div *ngIf="searching">

<div>Yüklənir...</div>

</div>

 <md-card> 
  <h4 *ngIf="imagesFound" md-subeader>Nəticələr</h4>
  <masonry [useImagesLoaded]="true">
    <masonry-brick *ngFor="let image of images" class=image-container>
      <md-card> 
        <a href="{{ image.pageURL }}" target="_bank">
          <md-card-header>
            <div class="avatar" md-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
            <p>User: {{ image.user }}</p>
          </md-card-header>
          <img md-card-image src="{{image.webformatURL}}">
          <md-card-content>
            <p>Tags: {{ image.tags }}</p>
            <p>Comments: {{ image.comments }}</p>
            <p>Likes: {{ image.likes }}</p>
          </md-card-content>
        </a>
   </md-card> 
      <br><br>
    </masonry-brick>
  </masonry>
 </md-card>  

